@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkest: #0e0e10;
  --darker: #19191b;
  --dark: #1f1e22;
  --purple-light: #a971fe;
  --purple: #9146ff;
  --purple-dark: #772ce8;
  --white: #ffffff;
  --grey: #f7f7f8;
}

body {
  background: var(--darkest) !important;
  color: var(--grey);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--darker);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--dark);
}
